<p>
    {{client}}
  </p>
  
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    
    <div>
      <label>Name:
        <input type="text" name="name" formControlName="name" />
      </label>
    </div>
  
    <div>
      <label>Credit Limit:
        <input type="text" name="creditLimit" formControlName="creditLimit" />
      </label>
    </div>
  
    <div>
      <label>Risk:
        <select name="risk" formControlName="risk">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>
      </label>
    </div>

    <div>
      <label>Interest Rate:
        <input type="number" name="interestRate" formControlName="interestRate" />
      </label>
    </div>

    <button type="submit">Save</button>
  </form>